body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: black;
  background-size: auto;
}

/* Header Section */
a {
  text-decoration: none;
}
header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  min-height: 75px;
  max-height: 90px;
  font-size: 2.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(194, 133, 89);
}
header h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  min-height: 75px;
  max-height: 90px;
  font-size: 2.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(194, 133, 89);
}

header ul {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(0, 0, 0);
  padding-bottom: 1%;
  text-decoration: underline;
  text-decoration-color: rgb(194, 133, 89);
}

header li {
  padding-left: 1%;
  padding-right: 1%;
}
header a {
  color: aliceblue;
  font-size: 1rem;
}

/* About Me & Article Blocks*/
.info-block {
  background-color: rgb(20, 20, 20);
  color: white;
  height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5%;
}

.info-block img {
  max-height: 400px;
  max-width: 400px;
  flex: 1 5 200px;
}

.info-block h2 {
  font-size: 1.9rem;
  text-decoration: underline;
  text-decoration-color: rgb(194, 133, 89);
  margin-top: 3.8%;
  margin-bottom: 1%;
}
.info-block h3 {
  font-size: 1.9rem;
  text-decoration: underline;
  text-decoration-color: rgb(194, 133, 89);
  margin-top: 3.8%;
  margin-bottom: 1%;
}
.info-block p {
  font-size: 1rem;
  max-width: 50%;
  margin-left: 1%;
}

.border {
  width: 40%;
  border-top: solid thin rgb(194, 133, 89);
  max-height: 1px;
}
/* Icon Section */
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(../images/ivana-cajina-asuyh-_ZX54-unsplash.jpg);
  background-size: contain;
}
div {
  border: 3px solid white;
  background: none;
  margin: 0.5rem;
  background-color: rgba(0, 0, 0, 0.712);
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.5rem;
}

div h3 {
  order: 1;
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
}
div img {
  object-fit: fill;
}

div .Project1 {
  flex: 2 0 25rem;
  min-width: 50rem;
}
div .general {
  min-width: 25rem;
  min-height: 25rem;
}

.general {
  max-width: 40rem;
  max-height: 40rem;
}

/* fOOTER SECTION */
footer {
  background-color: black;
  min-height: 200px;
  font-size: 2.5rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  text-decoration: overline;
  text-decoration-color: rgb(194, 133, 89);
  padding-top: 2%;
}

footer a {
  color: aliceblue;
}

footer h4 {
  color: azure;
  font-size: 1.5rem;
  text-align: center;
}

/* viewport adjustments */
/* For Ipad/Tablet view */
@media screen and (max-width: 1025px) {
  img {
    max-width: 200px;
    max-height: 200px;
  }
  .info-block img {
    max-width: 200px;
    max-height: 200px;
    order: -1;
  }
  .info-block p {
    max-width: 100%;
  }
  .border {
    display: none;
  }

  footer {
    font-size: 2rem;
  }
}

/* For mobile */
@media screen and (max-width: 576px) {
  img {
    max-width: 100px;
    max-height: 100px;
  }
  .icons h3 {
    font-size: 1.5rem;
  }
  footer {
    font-size: 1.5rem;
  }
}
