body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color:black
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Header Section */
a {
  text-decoration: none;
}
header h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  min-height: 75px;
  max-height: 90px;
  font-size: 2.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(194, 133, 89);
}
header h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  min-height: 75px;
  max-height: 90px;
  font-size: 2.25rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(194, 133, 89);
}

header ul {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(0, 0, 0);
}

header li {
  padding-left: 1%;
  padding-right: 1%;
}
header a {
  color: aliceblue;
  font-size: 1rem;
}
/* About Me */
.about-me {
  background-color: black;
  color: white;
  min-height: 500px;
  display: flex;
}

/* Icon Section */
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(../images/ivana-cajina-asuyh-_ZX54-unsplash.jpg);
  background-size:contain;
}
div {
  border: 3px solid white;
  background: none;
  margin: 0.5rem;
  background-color: rgba(0, 0, 0, 0.712);
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.5rem;
}

div h3 {
  order: 1;
  font-weight: bold;
}
div img {
  object-fit: fill;
}

div .Project1{
  flex: 2 0 25rem;
  min-width: 50rem;
}
div .general{
  min-width: 25rem;
  min-height: 25rem;
}

.general {
  max-width: 40rem;
  max-height: 40rem;
}

/* Articles */
article {
  min-height: 10rem;
  color: white;
  background-color: black;
  font-size: 1.25rem;
}
/* fOOTER SECTION */
footer {
  background-color: black;
  min-height: 200px;
  font-size: 4rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  text-decoration: overline;
  text-decoration-color: rgb(194, 133, 89);
  font-size: 3rem;
  
}

footer a {
  color: aliceblue;
}

footer h4 {
  color: azure;
  font-size: 2rem;
  text-align: center;
}
